@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .glass-card {
        background: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border: 1px solid rgba(255, 255, 255, 0.4);
    }
}

/* Custom Glass Classes */
.glass-sidebar {
    background: rgba(80, 141, 141, 0.95) !important;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.glass-navbar {
    background: rgba(255, 255, 255, 0.7) !important;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.4);
}

body {
    background-color: #C9E2EE !important;
    min-height: 100vh;
    background-attachment: fixed;
}

.hidden {
  display: none;
}

/* Tambahkan gaya scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.overflow-x-auto::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}
.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  scrollbar-color: transparent transparent;
}
